---
layout: page
description: "Mládež v Růžďce"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'cs' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
		{% assign m = post.date | date: "%-m" %}
        Přidal {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} {{ post.date | date: "%-d" }} 
		{% case m %}
		  {% when '1' %}Leden
		  {% when '2' %}&Uacute;nor
		  {% when '3' %}B&rcaron;ezen
  		  {% when '4' %}Duben
  		  {% when '5' %}Kv&ecaron;ten
 		  {% when '6' %}&Ccaron;erven
 		  {% when '7' %}&Ccaron;ervenec
 		  {% when '8' %}Srpen
 		  {% when '9' %}Z&aacute;&rcaron;&iacute;
 		  {% when '10' %}&Rcaron;&iacute;jen
 		  {% when '11' %}Listopad
		  {% when '12' %}Prosinec
		{% endcase %}
		{{ post.date | date: "%Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Novější příspěvky</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Starší příspěvky &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
