---
layout: page
description: "Nejnovější zprávy ze světa mládeže.<br>Nebo tak nějak."
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'cs' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
		{% assign m = post.date | date: "%-m" %}
        Přidal {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} &nbsp; {{ post.date | date: "%-d." }} 
		{% case m %}
		  {% when '1' %}ledna
		  {% when '2' %}&uacute;nora
		  {% when '3' %}b&rcaron;ezna
  		  {% when '4' %}dubna
  		  {% when '5' %}kv&ecaron;tna
 		  {% when '6' %}&ccaron;ervna
 		  {% when '7' %}&ccaron;ervence
 		  {% when '8' %}srpena
 		  {% when '9' %}z&aacute;&rcaron;&iacute;
 		  {% when '10' %}&rcaron;&iacute;jna
 		  {% when '11' %}listopadu
		  {% when '12' %}prosince
		{% endcase %}
		{{ post.date | date: "%Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Novější příspěvky</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Starší příspěvky &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
